{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

    <!-- ===== BOX ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <title>Portfolio responsive complete</title>
</head>

<body>
    <!--===== HEADER =====-->
    <header class="l-header">
        <nav class="nav bd-grid">

            <div>
                <a href="#" class="nav__logo">{{ home.name }}</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                    <li class="nav__item"><a href="#portfolio" class="nav__link">Portfolio</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--===== HOME =====-->
        <section class="home" id="home">
            <div class="home__container bd-grid">
                <h1 class="home__title"><span>{{ home.greetings_1 }}</span><br>{{ home.greetings_2 }}.</h1>

                <div class="home__scroll">
                    <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt'></i>Scroll down</a>
                </div>

                <img style="object-fit: cover; height: 90vh; width:30%;" src="{{ home.picture.url }}" alt=""
                    class="home__img">
            </div>
        </section>

        <!--===== ABOUT =====-->
        <section class="about section" id="about">
            <h2 class="section-title">About</h2>

            <div class="about__container bd-grid">
                <div class="about__img">
                    <!-- <img src="{% static 'assets/img/perfil.png' %}" alt=""> -->
                    <img src="{{ about.profile_img.url }}" alt="">
                </div>

                <div>
                    <h2 class="about__subtitle">{{ about.heading }}</h2>
                    <span class="about__profession">{{ about.career }}</span>
                    <p class="about__text">{{ about.description }}</p>

                    <div class="about__social">

                        {% for profile in about.profile_set.all %}
                        <a href="{{ profile.link }}" class="about__social-icon">
                            <i class='bx bxl-{{ profile.social_name }}'></i>
                        </a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>

        <!--===== SKILLS =====-->
        <div class="row justify-content-center jus">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <h3 class="text-center mr-3">Angular</h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" class="front-end img-responsive img-fluid" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <h3 class="text-center mr-3">Github</h3>
                <img src="https://1000logos.net/wp-content/uploads/2021/05/GitHub-logo.png" class="front-end front-end img-responsive img-fluid" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <h3 class="text-center mr-3">JavaScript</h3>
                <img src="https://referralrock.com/wp-content/uploads/2018/08/javascript-logo-1.png" class="front-end" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <h3 class="text-center mr-3">JQuery</h3>
                <img src="https://mpng.subpng.com/20180704/zoa/kisspng-jquery-ui-javascript-web-browser-pasargad-5b3d093837a4d4.5712269815307267122279.jpg" class="front-end" alt="">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="https://www.fullstackpython.com/img/logos/django.png" class="back-end" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <h3 class="text-center mr-5">Python</h3>
                <img src="https://images.ctfassets.net/mrop88jh71hl/55rrbZfwMaURHZKAUc5oOW/9e5fe805eb03135b82e962e92169ce6d/python-programming-language.png" class="back-end" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="https://newscrewdriver.files.wordpress.com/2018/02/flask.png?w=700" class="back-end" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <h3 class="text-center mr-5">Heroku</h3>
                <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--K2q0A5SX--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/2elgd5zp07wkeilkna63.png" class="back-end" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <h3 class="text-center mr-5">PostgreSql</h3>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8cg1TN7Lpnv4_AXulAlDV9Q-Lfvh--TTAbam-ii_HiKSD7dD7Ye6txD8AKI7dl5iPCpw&usqp=CAU" class="back-end" alt="">
            </div>
        </div>
    </div>
        

        <!--===== PORTFOLIO =====-->
        <section class="portfolio section" id="portfolio">
            <h2 class="section-title">Portfolio</h2>


            <div class="portfolio__container bd-grid">

                {% for portfolio in portfolios %}

                <div class="portfolio__img">
                    <img src="{{ portfolio.image.url }}" alt="">

                    <div class="portfolio__link">
                        <a href="{{ portfolio.link }}" class="portfolio__link-name">View details</a>
                    </div>
                </div>

                {% endfor %}

            </div>

        </section>

        <!--===== CONTACT =====-->
        <section class="contact section" id="contact">
            <h2 class="section-title">Contact</h2>

            <div class="contact__container bd-grid">
                <div class="contact__info">
                    <h3 class="contact__subtitle">EMAIL</h3>
                    <span class="contact__text">carolyne.kyalo@student.moringaschool.com</span>
                    <!-- 
                        <h3 class="contact__subtitle">PHONE</h3>
                        <span class="contact__text">+20 999-999</span>
                        <h3 class="contact__subtitle">ADRESS</h3>
                        <span class="contact__text">My contry</span> -->
                </div>

                <div class="contact__info">

                    <h3 class="contact__subtitle">PHONE</h3>
                    <span class="contact__text">+254700000000</span>

                </div>

                <!-- <form action="" class="contact__form">
                        <div class="contact__inputs">
                            <input type="text" placeholder="Name" class="contact__input">
                            <input type="mail" placeholder="Email" class="contact__input">
                        </div>
                        <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>
                        <input type="submit" value="Enviar" class="contact__button">
                    </form> -->
            </div>
        </section>
    </main>

    <!--===== FOOTER =====-->
    <footer class="footer section">
        <div class="footer__container bd-grid">
            <div class="footer__data">
                <h2 class="footer__title">CAROL WANZUU</h2>
                <p class="footer__text">I am Carolyne Wanzuu and this is my personal website</p>
            </div>

            <div class="footer__data">
                <h2 class="footer__title">EXPLORE</h2>
                <ul>
                    <li><a href="#home" class="footer__link">Home</a></li>
                    <li><a href="#about" class="footer__link">About</a></li>
                    <li><a href="#skills" class="footer__link">Skills</a></li>
                    <li><a href="#portfolio" class="footer__link">Portfolio</a></li>
                    <li><a href="#Contact" class="footer__link">Contact</a></li>
                </ul>
            </div>

            <div class="footer__data">
                <h2 class="footer__title">FOLLOW</h2>
                <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
            </div>


        </div>
    </footer>

    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>